spooky.db
spooky
*.swp
Makefile.in
aclocal.m4
autom4te.cache
autom4te.cache/**
configure
src/Makefile.in
Makefile
config.h
config.log
config.status
src/.deps
src/.deps/spooky.Po
src/Makefile
src/*.o
stamp-h1
.env
.DS_Store
public
config.h.in~
compile
install-sh
depcomp
missing
ar-lib
config.guess
libtool
ltmain.sh
m4/
*.a
config.sub
src/modules/.deps
src/modules/.dirstamp
**/*.o
*.swp
**/.libs
*.la
*.priv
*.lo
**/*.spoooky
config.site
spooky-cppcheck-build-dir
spooky-cppcheck-build-dir/**

.local-build.sh
src/spooky.exe


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
.deps
**/target
**/target/*
.Tpo
*.spdb
.ccls-cache
src/res
src/res/**
configure~
